No_API_Solution.py
master-record.csv
API-Based-Converter.py
CamelotMethod.py
~$Data Dictionary and Design Definitions.xlsx
pdfservices-api-credentials.json
results.csv
pdf_extractor_data_template.xlsx
~$pdf_extractor_data_template.xlsx
Results/master_record.csv

