No_API_Solution.py
master-record.csv
API-Based-Converter.py
CamelotMethod.py
~$Data Dictionary and Design Definitions.xlsx
pdfservices-api-credentials.json
results.csv
pdf_extractor_data_template.xlsx
~$pdf_extractor_data_template.xlsx
Results/master_record.csv

Results/master_record.csv
Reports/2023-09-05 3 MONTHS.pdf
Reports/test 2023-02-06.pdf
Reports/test 2023-02-07.pdf
Reports/test 2023-02-08.pdf
Reports/test 2023-02-09.pdf
Reports/test 2023-02-10.pdf
Reports/test dpg sHIP mAR-aPR 2023.pdf
Reports/WCTC SAMPLE SHIP REPORT-1.pdf
Reports/WCTC SAMPLE SHIP REPORT.pdf
Results/extract.txt
Results/extract.zip
Results/extract2.zip
Results/extract/structuredData.json
Results/extract/Untitled-1.json
Results/extract2/structuredData.json
Data Dictionary and Design Definitions.xlsx
extract_txt_from_pdf.py
Pandas-Based-Solution9-8.py
pandasResults.csv
requirements.txt
